@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("woff2"),
    url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("woff"),
    url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/webfonts/Montserrat\ Regular.ttf") format("woff2"),
    url("../assets/webfonts/Montserrat\ Regular.ttf") format("woff"),
    url("../assets/webfonts/Montserrat\ Regular.ttf") format("truetype");
}

/*  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/

.title div.p {
  font-family: "TradeGothic LT Extended", sans-serif;
  text-transform: uppercase;
}

header {
  margin: 30px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle31.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  position: relative;
  padding-bottom: 18.625rem;
}

.headertexts {
  margin-top: 3.375rem;
}

.panSec {
  margin-top: 11rem;
}

.text1 {
  font-size: 2.8125rem;
  font-weight: 700;
  font-family: "TradeGothic LT Extended", sans-serif;
}
.text2 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "TradeGothic LT Extended", sans-serif;
}
.text3 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "TradeGothic LT Extended", sans-serif;
}

.barcon {
  position: absolute;
  width: 90%;
  bottom: -20%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.4);
  border-radius: 16px;
  padding: 16px 32px 32px;
  gap: 32px;
  isolation: isolate;
}

.vl {
  border: 1px solid #d7e2ee;
  transform: rotate(90deg);
  width: 48px;
  height: 0px;
}
.bar1 {
  color: #112211;
}

label {
  color: black;
}

.showflights {
  background-color: #8dd3bb;
}

p.plantitle {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 2rem;
  line-height: 39px;
  font-weight: 600;
  color: #000000;
}

p.plansmallparag {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #112211;
  opacity: 0.75;
  font-family: "Montserrat Regular", sans-serif;
}
.seemorebutton {
  font-family: "Montserrat Regular", sans-serif;
}

main {
  margin-top: 263px;
  margin-left: 30px;
  margin-right: 30px;
}

.plan .container .row {
  margin-top: 32px;
}

.shadowplanimages {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 16px;
}

.Cityname {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  opacity: 0.7;
  font-family: "Montserrat Regular", sans-serif;
}

.fhr {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
  font-family: "Montserrat Regular", sans-serif;
}

.conImages {
  margin-top: 80px;
}

.imgparent1 {
}

.car1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle 40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  padding-top: 23rem;
}
.car2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle 41.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  padding-top: 23rem;
}
.infobanner {
  max-width: 24.313rem;
}
/* .absdiv .texts {
  align-items: center;
} */
.absdiv .showflights {
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  font-size: 14px;
  width: 144px;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.absdiv .texts .ftitle {
  font-family: "TradeGothic LT Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
}

.absdiv .texts .ftext {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.Reviews {
  margin-top: 70px;
  font-family: "TradeGothic LT Extended", sans-serif;
}

div.card {
  border-radius: 20px;
}

img.card-img-bottom {
  margin-top: 40px;
}

.card {
  border-radius: 20px;
  box-shadow: 26px 23px 0px -3px rgba(141, 211, 187, 0.4);
}

.cardshadow {
  border-radius: 20px;
}

.pcard {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: 2;
  font-family: "Montserrat Regular", sans-serif;
}

footer {
  margin-top: 20rem;
}

.secondbar {
  background: #8dd3bb;
  padding-top: 13.625rem;
  padding-bottom: 4rem;
}

.footerlogo {
  max-width: 7.5rem;
}

.firstbar {
  background: #cdeae1;
  width: 80%;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 20px;
  padding: 0px 24px;
  position: absolute;
  left: 10%;
  top: -40%;
  /* gap: 32px; */
  isolation: isolate;
  padding-bottom: 4rem;
}

.firstbar .content {
  /* margin-top: 2.5rem; */
  font-family: "TradeGothic LT Extended", sans-serif;
  padding: 24px;
}
.bigtitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #112211;
}

.subtext_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #112211;
  opacity: 0.8;
}

.subtext_content {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
  color: #112211;
  opacity: 0.7;
  max-width: 37.0625rem;
}
.co1,
.co2,
.co3,
.co4,
.co5 {
  font-family: "Montserrat Regular", sans-serif;
}

.footerinput {
  max-height: 3.5rem;
}

#button-addon2 {
  background: #112211;
  border-radius: 4px;
  color: #fff;
  height: 3.5rem;
}

#button-addon2:hover {
  background: #fff;
  border-radius: 4px;
  color: #112211;
  border: 1px solid #112211;
}

@media screen and (max-width: 1050px) {
  .bgimg {
    display: none;
  }
}

@media screen and (max-width: 875px) {
  .signbuttons {
    display: none;
  }
  .smallimages div {
    display: none;
  }
  .navone .mainlogo {
  }
  /* header {
    background-position: 69%;
  } */

  .secondbar {
    grid-template-columns: 1;
  }
  .footerinput {
    flex-direction: column;
  }
  .firstbar {
    border-radius: 20px;
    position: relative;
    gap: 32px;
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  .panSec {
    margin-top: 17rem;
  }
}

@media screen and (max-width: 912px) {
  .bar2 {
    flex-direction: column;
  }
  /* .bar2 div {
    width: 50%;
    margin-bottom: 5px;
  } */
  .bar3buttons {
    justify-content: center;
  }
  .panSec {
    margin-top: 17rem;
  }
}

@media only screen and ((min-width: 767px) and (max-width: 991px)) {
  .barcon {
    bottom: -40%;
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding-bottom: 3rem;
  }
  p.plantitle {
    font-size: 1.5rem;
  }
  p.plansmallparag {
    font-size: 0.7rem;
  }
  .barcon {
    bottom: -70%;
  }

  .text1 {
    font-size: 2rem;
  }

  .text2 {
    font-size: 3.5rem;
  }

  .text3 {
    font-size: 1rem;
  }
}

/* Medium screens */

@media (max-width: 500px) {
  .car1,
  .car2 {
    padding-top: 10rem;
    margin: 0 0;
  }
  header {
    padding-bottom: 10rem;
  }
  .panSec {
    margin-top: 22rem;
  }
  .barcon {
    bottom: -80%;
    border-radius: 0;
    width: 100%;
  }
  .titlebanner {
    flex-direction: column;
  }

  .text1 {
    font-size: 1.5rem;
  }
  .text2 {
    font-size: 2rem;
  }
  .text3 {
    font-size: 1rem;
  }
  .bigtitle {
    font-size: 2rem;
  }

  .subtext_title {
    font-size: 1rem;
  }

  .subtext_content {
    font-size: 0.8rem;
  }
  .footerinput {
    flex-direction: column;
  }
  .firstbar {
    width: 100%;
    margin-bottom: 1rem;
    left: 0;
    overflow: hidden;
  }
  .secondbar {
    padding-top: 2rem;
    overflow: hidden;
  }
  footer {
    margin-top: 3rem;
  }
}
