@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("woff2"),
    url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("woff"),
    url("../assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/webfonts/Montserrat\ Regular.ttf") format("woff2"),
    url("../assets/webfonts/Montserrat\ Regular.ttf") format("woff"),
    url("../assets/webfonts/Montserrat\ Regular.ttf") format("truetype");
}
/* body {
  margin: 30px;
} */
/*  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/

.title div.p {
  font-family: "TradeGothic LT Extended", sans-serif;
  text-transform: uppercase;
}

header {
  margin: 30px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle31.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;

  padding-bottom: 18.625rem;
}

.headertexts {
  margin-top: 3.375rem;
}

.text1 {
  font-size: 45px;
  font-weight: 700;
  font-family: "TradeGothic LT Extended", sans-serif;
}
.text2 {
  font-size: 80px;
  font-weight: 700;
  font-family: "TradeGothic LT Extended", sans-serif;
}
.text3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "TradeGothic LT Extended", sans-serif;
}

/* .whitebar {
  max-width: 89.275%;
} */
.barcon {
  position: absolute;
  width: 90%;
  bottom: -20%;
  padding: 16px 32px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.4);
  border-radius: 16px;
  padding: 16px 32px 32px;
  gap: 32px;
  isolation: isolate;
}

.vl {
  border: 1px solid #d7e2ee;
  transform: rotate(90deg);
  width: 48px;
  height: 0px;
}
.bar1 {
  color: #112211;
}

label {
  color: black;
}

/* .bar2 div {
  max-width: 20.25rem;
} */

.fromfield,
.datefield,
.textfield {
  max-width: 20.25rem;
}

.showflights {
  background-color: #8dd3bb;
}

p.plantitle {
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #000000;
}

p.plansmallparag {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  opacity: 0.75;
}

main {
  margin-top: 263px;
  margin-left: 30px;
  margin-right: 30px;
}

.plan .container .row .col-md-4 {
  background: #ffffff;
  /* Cards Shadow */
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 16px;
}

.plan .container .row {
  margin-top: 32px;
}

.Cityname {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* Blackish Green */

  color: #112211;

  opacity: 0.7;
}

.fhr {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* Blackish Green */

  color: #112211;
}

.seemorebutton {
  width: 149px;
  height: 40px;
}

.plan .titlebanner {
  margin-right: 74px;
  margin-left: 74px;
}
.conImages {
  margin-top: 80px;
}

.imgparent1 {
}

.car1 {
  /* position: absolute; */

  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle 40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  padding-top: 17.4375rem;
}
.car2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../assets/Rectangle 41.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  padding-top: 17.4375rem;
}
/* .absdiv .texts {
  align-items: center;
} */
.absdiv .showflights {
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  font-size: 14px;
  width: 144px;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.absdiv .texts .ftitle {
  font-family: "TradeGothic LT Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  /* identical to box height */

  text-align: center;

  /* Neutrals */

  color: #ffffff;
}

.absdiv .texts .ftext {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  /* Neutrals */

  color: #ffffff;
}

.Reviews {
  margin-top: 70px;
  font-family: "TradeGothic LT Extended", sans-serif;
}

.card {
  padding: 24px;
  width: 26.5625rem;
  border-radius: 20px;
  box-shadow: 26px 23px 0px -3px rgba(141, 211, 187, 0.4);
}
.card-text {
  font-family: "Montserrat Regular", sans-serif;
}

.pcard {
  font-family: "Montserrat Regular", sans-serif;
}

/* .rev .titlebanner {
  margin-right: 74px;
  margin-left: 74px;
} */

footer {
  margin-top: 15.0625rem;
}

.secondbar {
  background: #8dd3bb;
  padding-top: 13.625rem;
  padding-bottom: 4rem;
  /* box-sizing: border-box; */
}

.footerlogo {
  max-width: 7.5rem;
}

.firstbar {
  background: #cdeae1;
  /* Cards Shadow */
  width: 80%;

  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 20px;
  padding: 0px 24px;
  position: absolute;
  top: -40%;
  padding: 16px 32px;
  gap: 32px;
  isolation: isolate;
}

.firstbar .content {
  /* margin-top: 2.5rem; */
  font-family: "TradeGothic LT Extended", sans-serif;
  padding: 24px;
}
.bigtitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  /* or 123% */

  /* Blackish Green */

  color: #112211;
}

.subtext_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  /* Blackish Green */

  color: #112211;

  opacity: 0.8;
}

.subtext_content {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
  /* identical to box height */

  /* Blackish Green */

  color: #112211;

  opacity: 0.7;
  max-width: 37.0625rem;
}

.footerinput {
  max-width: inherit;
  height: 3.5rem;
}

.footerinput input {
  max-width: 29.5625rem;
}

#button-addon2 {
  background: #112211;
  border-radius: 4px;
  color: #fff;
}

#button-addon2:hover {
  background: #fff;
  border-radius: 4px;
  color: #112211;
  border: 1px solid #112211;
}

@media screen and (max-width: 875px) {
  .signbuttons {
    display: none;
  }
  .smallimages div {
    display: none;
  }
  .navone .mainlogo {
  }
  header {
    background-position: 69%;
  }
}

@media screen and (max-width: 912px) {
  .bar2 {
    flex-direction: column;
  }
  .bar2 div {
    width: 50%;
    margin-bottom: 5px;
  }
  .bar3buttons {
    justify-content: center;
  }
}
